@model  List<Bull.Models.ViewModels.OrderVM>
<partial name="_Notification" />

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Order List</h2>
        </div>
    </div>
    <div class="d-flex justify-content-between pb-5 pt-2">
        <span></span>
        <ul class="list-group list-group-horizontal-sm">
            <a style="text-decoration: none;" asp-controller="Order" asp-action="Index" asp-route-status="inprogress">
                <li class="list-group-item">In progress</li>
            </a>
            <a style="text-decoration: none;" asp-controller="Order" asp-action="Index" asp-route-status="pending">
                <li class="list-group-item">Payment pending</li>
            </a>
            <a style="text-decoration: none;" asp-controller="Order" asp-action="Index" asp-route-status="completed">
                <li class="list-group-item">Completed</li>
            </a>
            <a style="text-decoration: none;" asp-controller="Order" asp-action="Index" asp-route-status="approved">
                <li class="list-group-item">Approved</li>
            </a>
            <a style="text-decoration: none;" asp-controller="Order" asp-action="Index" asp-route-status="all">
                <li class="list-group-item">All</li>
            </a>
        </ul>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>E-Mail</th>
            <th>Status</th>
            <th>Total</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.OrderBy(c => c.OrderHeader.OrderStatus))
        {
            <tr>
                <td>@item.OrderHeader.Id</td>
                <td>@item.OrderHeader.Name</td>
                <td>@item.OrderHeader.PhoneNumber</td>
                <td>@item.OrderHeader.ApplicationUser.Email</td>
                <td>@item.OrderHeader.OrderStatus</td>
                <td>@item.OrderHeader.OrderTotal</td>
                <td>
                    @*<div class="w-75 btn-group" role="group">
                        <a asp-action="UpdateOrCreate" asp-route-id="@item.Id" class="btn btn-primary mx-2">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mx-2">
                            <i class="bi bi-trash-fill"></i> Delete
                        </a>
                    </div>*@
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>